@import "tailwindcss";

:root {
  --background: #ffffff;
}

@theme inline {
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: rgb(1, 1, 1);
  }
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animated-bg {
  background: linear-gradient(-45deg, #462c24, #624c55, #425961, #90c3b7);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
